
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
}

.container {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    text-align: center;
}

form {
    background-color: rgb(235, 233, 233);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

.fullname {
    width: 100%;
}

.namecon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;
}

.btncon {
    width: 100%;
    text-align: center;
}

.firstname {
    width: 50%;
}
.lastname {
    width: 50%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

button[type="submit"] {
    font-family: "Varela Round", sans-serif;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.alert {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.succon , .errcon {
    font-family: "Varela Round", sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

